*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboco', sans-serif;
}

body {
    background-image: url('../img/pattern.jpg');
}

header{
    background-color: rgb(250, 250, 250);
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

nav{
    position: relative;
    border: 100px;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-flex;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
}

nav ul a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(60, 60, 243);
}

h3{
    color: black;
    background-color: black
    ;
}

.isi{
    background-color: white;
    border-bottom: black solid 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}

.isi h3{
    font-size: 25px;
}

.isi h2{
    font-size: 20px;
}

footer{
    background-color: black;
    position: static;
}

.content-F h5{
    font-size: 14px;
    color: azure;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px ;
    padding-top: 10px;
}

section h1 {
    text-align: center;
    justify-content: left;
}

section {
    margin-top: 100px;
}